.navbar {
  background-color: var(--blue);
  color: var(--white);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  font-size: 11px;
}

navbar > h1 {
  margin-top: 9px;
  font-family: 'Gill Sans', sans-serif;
}

.navLinks {
  display: flex;
  list-style: none;
  gap: 5px;
  align-items: center;
  padding: 6px 30px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
